* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #f3f3f3;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #10101a;
}
p {
  font-size: 1.2rem;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 40px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 20px;
  position: fixed;
  z-index: 100;

  width: 100%; /* Ocupa a largura total da janela de visualização */
  max-width: 1200px; /* Define a largura máxima de 1200px */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  justify-content: center;
  display: flex;
  gap: 10px;
}

.menu li {
  color: #f3f3f3;
}

.menu li a {
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}
.menu li a:hover {
  border-color: #0536a8;
}

/* HOME */
.home {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-container {
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.informacoes {
  display: grid;
  gap: 16px;
}

.efeito-texto::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.5s infinite;
}
@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn-linkedin,
.btn-github {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  margin-right: 25px;
  font-size: 1.2rem;

  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn-linkedin {
  border: 2px solid #1c59e7;
}

.btn-linkedin::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1c59e7;

  z-index: -1;
  transition: 0.4s;
}
.btn-linkedin:hover:before {
  width: 100%;
}

.btn-github {
  border: 2px solid #6e40c9;
}
.btn-github::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #6e40c9;

  z-index: -1;
  transition: 0.4s;
}
.btn-github:hover:before {
  width: 100%;
}

.btn-container img {
  margin-right: 20px;
}

/* SOBRE */

.sobre {
  text-align: center;
}

.sobre img {
  margin: 0 auto;
}
.descricao {
  max-width: 800px;
  text-align: start;
  margin: 80px auto;
  padding: 0 20px;
}
.descricao-texto {
  margin-bottom: 10px;
  /* text-indent: 60px; */
}

/* PROJETOS */

.projetos h2 {
  text-align: center;
  margin-bottom: 40px;
}

.flex {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 50px;
  align-items: center;
  margin-bottom: 50px;
}
.flex:nth-child(even) {
  flex-direction: row-reverse;
}

.flex img {
  max-width: 575px;
  border-radius: 2px;
}

.titulo-projeto {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.container-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.container-links a {
  border: 2px solid #0536a8;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.1rem;

  position: relative;
  z-index: 1;
  overflow: hidden;
}

.container-links a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #0536a8;

  z-index: -1;
  transition: 0.4s;
}

.container-links a:hover::before {
  width: 100%;
}

.flex p {
  text-align: center;
  max-width: 500px;
}

footer {
  text-align: center;
  /* padding-bottom: 50px; */
  padding: 20px;
  background-color: #0536a8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 1250px) {
  .home {
    padding: 20px;
  }

  .flex {
    padding: 20px;
  }
}

@media (max-width: 1000px) {
  .home {
    justify-content: center;
  }

  .flex {
    flex-direction: column;
    text-align: center;
    font-size: 0.875rem;
  }

  .flex:nth-child(even) {
    flex-direction: column;
  }

  .flex img {
    max-width: 350px;
    border-radius: 2px;
  }

  .img-home {
    display: none;
  }
  .home-container {
    display: block;
  }
}
@media (max-width: 600px) {
  .header {
    display: block;
    text-align: center;
  }

  .header h1 {
    margin-bottom: 20px;
  }

  .home h2 {
    font-size: 1.725rem;
  }
  .efeito-texto {
    font-size: 1.5rem;
  }

  .btn-linkedin,
  .btn-github {
    font-size: 1rem;
  }
}
