* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: cursive;
  color: #f3f3f3;
}

img {
  max-width: 100%;
  display: block;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: #10101a;
}

.header {
  font-size: 1.2rem;
  margin-top: 25px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
  color: #f3f3f3;
}

.menu li a {
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}
.menu li a:hover {
  border-color: #1c59e7;
}

.home {
  height: calc(100vh - 104px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-container {
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.informacoes {
  display: grid;
  gap: 1rem;
}

.titulo::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.5s infinite;
}
@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn-linkedin,
.btn-github {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  margin-right: 25px;
  font-size: 1.2rem;

  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn-linkedin {
  border: 2px solid #0a66c2;
}

.btn-linkedin::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #0a66c2;

  z-index: -1;
  transition: 0.4s;
}
.btn-linkedin:hover:before {
  width: 100%;
}

.btn-github {
  border: 2px solid #6e40c9;
}
.btn-github::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #6e40c9;

  z-index: -1;
  transition: 0.4s;
}
.btn-github:hover:before {
  width: 100%;
}

.btn-container img {
  margin-right: 20px;
}

/* SOBRE */

.sobre {
  margin-top: 52px;
  text-align: center;
}

.sobre h2 {
  font-size: 2rem;
}

.sobre img {
  margin: 25px auto;
}
.descricao {
  width: 800px;
  text-align: start;
  margin: 20px auto;
  font-size: 1.125rem;
}

.descricao p {
  margin-top: 10px;
  font-size: 1.1rem;
}

/* PROJETOS */

.projetos {
  margin-top: 100px;
}
.projetos h2 {
  text-align: center;
  margin-bottom: 40px;
}

/* PROJETOS */

.flex {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
  align-items: center;
  margin-bottom: 50px;
}
.titulo-projeto {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.flex img {
  max-width: 585px;
  border-radius: 2px;
}

.flex:nth-child(even) {
  flex-direction: row-reverse;
}

.container-links {
  margin-top: 20px;
  display: flex;
  /* gap: 20px; */
  justify-content: space-evenly;
}

.container-links a {
  border: 2px solid #1c59e7;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.1rem;

  position: relative;
  z-index: 1;
  overflow: hidden;
}

.container-links a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1c59e7;

  z-index: -1;
  transition: 0.4s;
}

.container-links a:hover::before {
  width: 100%;
}

.flex p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;

  /* border: 3px solid red; */
  text-align: center;
  max-width: 500px;
}
